.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: table;
}

h3 {
  text-align: center;
}

/* .topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
} */

.result {
  margin-top: 1rem;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.list,
.total {
  width: 30%;
  margin: 0 auto;
  color: white;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 0.5rem;
  color: white;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.list li:last-child {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}

.list-item label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

.total {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {

  .toppings-list,
  .total {
      width: 90%;
  }
}